@import "tailwindcss";

@font-face {
  font-family: "Cirka";
  src: url("/CirkaBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-Black.ttf") format("truetype");
}
:root {
  --color-blue: #6a35ff;
  --color-yellow: #e5fe40;
  --color-pink: #f6a69b;
  --color-green: #29b379;
  --button-yellow: #ffeb34;
  --button-yellow-pressed: #cdb900;
  --button-black: #121212;
  --button-black-pressed: #3d3d3d;
  --color-white: #ffffff;
  --color-black: #0d0d0d;

  --font-heading: "Cirka", sans-serif;
  --font-body: "Gilroy", sans-serif;
}
