.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.hero-button {
  margin-top: 3rem;
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-button-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
@media (min-width: 768px) {
  .hero-button-container {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
