.uses-container {
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  background-color: var(--color-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.uses-left {
  padding-top: 2rem;
  flex: 1;
  text-align: center;
}
.uses-left .bodyText {
  padding-top: 1rem;
}
.uses-right video {
  width: 100%;
  height: auto;
  max-width: min(70vw, 40rem);
  border-radius: 1rem;
  border: 4px solid var(--color-black);
  object-fit: cover;
}

@media (max-width: 768px) {
  .uses-container {
    gap: 2rem;
  }
  .uses-right {
    flex: 1;
  }
  .uses-right video {
    width: 100%;
    height: auto;
    max-width: 90vw;
    min-width: 280px;
  }
}
